body { 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 'Times New Roman', Times, serif; margin: 0px;
     font-size: 1.5vw;
}


#logo { 
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    text-shadow:
    1.5px 1.5px 0px black,  
    -1.5px 1.5px 0px black,   
    1.5px -1.5px 0px black,  
    -1.5px -1.5px 0px black;

}

ul {
    margin: 8.5px;
}



body > header 
{background-color: #fe46a5;;
    color:#ffbacd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
     text-decoration: none;

}

#nav-ul {
    display: flex;
    justify-content: space-around;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > main article {
    width:70%;
    margin: auto
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid; color: white;
}
body > footer 
{background-color: #ff6bb5;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin: left 14px;
    color: white;
    
}

#footer-ul >div > li> a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

img {
    border-radius: 100%;
}